---
BasedOnStyle: WebKit
AlignAfterOpenBracket: 'true'
AlignConsecutiveMacros: 'true'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortEnumsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
BreakBeforeBraces: Linux
ColumnLimit: '100'
UseTab: Never
PointerAlignment: Right
...
