*.o
*.stamp
*.la
*.so
*.dll
*.a
*.exe
*.lo
*.log
*.trs
*.test

.deps/
.libs/

Makefile.in.in
Makefile.in
Makefile
config.h.in
tags

/autom4te.cache
/aclocal.m4
/compile
/configure
/configure.sub
/config.*
/depcomp
/install-sh
/ltmain.sh
/missing
/ar-lib
/libtool
/test-driver
stamp-h1
.dirstamp
/gtk-doc.make

__pycache__/

/po/POTFILES
/po/stamp-it
/po/*.pot
/po/*.gmo
/ABOUT-NLS
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/*.header
/po/Makevars.template
/po/stamp-po

/docs/*.signals
/docs/*.types
/docs/*.prerequisites
/docs/*.interfaces
/docs/*.hierarchy
/docs/*.args
/docs/*-decl*
/docs/*undocumented.txt
/docs/*unused.txt
/docs/*undeclared.txt
/docs/xml/
/docs/html/
/docs/*.c

/m4
!/m4/desktop.m4
!/m4/leak-supp.txt
!/m4/tap-test

*.appdata.xml
*.desktop
*.gschema.xml
*.gschema.valid
*.desktop.valid
*.vapi
*.gir
*.deps
*.typelib
*~

/src/transmission-remote-gtk
/src/transmission-remote-gtk.1

