*.o
*.stamp
*.la
*.so
*.dll
*.a
*.exe
*.lo
*.log
*.trs
*.test

.deps/
.libs/


__pycache__/

/po/POTFILES
/po/stamp-it
/po/*.pot
/po/*.gmo
/ABOUT-NLS
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/*.header
/po/Makevars.template
/po/stamp-po

/docs/*.signals
/docs/*.types
/docs/*.prerequisites
/docs/*.interfaces
/docs/*.hierarchy
/docs/*.args
/docs/*-decl*
/docs/*undocumented.txt
/docs/*unused.txt
/docs/*undeclared.txt
/docs/xml/
/docs/html/
/docs/*.c

*.appdata.xml
*.desktop
*.gschema.xml
*.gschema.valid
*.desktop.valid
*.vapi
*.gir
*.deps
*.typelib
*~

/src/transmission-remote-gtk
/src/transmission-remote-gtk.1
