Source: transmission-remote-gtk
Section: net
Priority: optional
Maintainer: Alan Fitton <alan@eth0.org.uk>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libcurl4-openssl-dev, libgtk2.0-dev (>= 2.16~), libglib2.0-dev (>= 2.22~), libproxy-dev, libnotify-dev, libunique-dev, libjson-glib-dev, libgconf2-dev, gconf
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/transmission-remote-gtk/
Vcs-Svn: http://transmission-remote-gtk.googlecode.com/svn/trunk/
Vcs-Browser: http://code.google.com/p/transmission-remote-gtk/source/browse/

Package: transmission-remote-gtk
Architecture: any
Depends: libgtk2.0-0 (>= 2.16~), libglib2.0-0 (>= 2.22~), libunique-1.0-0, libgconf2-4, gconf2, libnotify1, libproxy0, libjson-glib-1.0-0 (>= 0.8~), ${shlibs:Depends}, ${misc:Depends}
Description: GTK remote control for the Transmission BitTorrent client
 transmission-remote-gtk is a GTK application for remote management of
 the Transmission BitTorrent client via its RPC interface. 
