1 ICON "transmission_large.ico"

// Executable version information.
1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x17L
#ifdef DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "eth0.org.uk"
            VALUE "FileDescription", "Transmission Remote GTK"
            VALUE "FileVersion", "1, 0, 0, 0"
            VALUE "InternalName", "transmission-remote-gtk"
            VALUE "LegalCopyright", "©2011 Alan Fitton"
            VALUE "OriginalFilename", "transmission-remote-gtk.exe"
            VALUE "ProductName", "Transmission Remote GTK"
            VALUE "ProductVersion", "1, 0, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END