name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install deps
        run: |
          sudo apt-get update
          sudo apt-get upgrade
          sudo apt-get install meson gcc \
                               libgtk-3-dev \
                               libjson-glib-dev \
                               libsoup-3.0-dev \
                               gettext \
                               \
                               libappstream-dev \
                               appstream-util
      - name: meson configure
        run: meson setup build
      - name: build
        run: meson compile -C build
      - name: dist
        run: meson dist -C build

  build-macos:
    runs-on: macos-latest
    env:
      # icu4c is keg only
      PKG_CONFIG_PATH: /opt/homebrew/opt/icu4c/lib/pkgconfig
    steps:
      - uses: actions/checkout@v3
      - name: install deps
        run: |
          brew install meson \
                       gtk+3 \
                       json-glib \
                       libsoup \
                       gettext\
                       \
                       appstream-glib \
                       desktop-file-utils
      - name: meson configure
        run: meson setup build
      - name: meson build
        run: meson compile -C build
      - name: dist
        run: meson dist -C build

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
      - name: install deps
        run: |
          mingw="mingw-w64-x86_64"
          pacman -S --noconfirm \
                    git \
                    ${mingw}-gcc \
                    ${mingw}-meson \
                    ${mingw}-ninja \
                    ${mingw}-pkg-config \
                    \
                    ${mingw}-gtk3 \
                    ${mingw}-libsoup3 \
                    ${mingw}-glib2 \
                    ${mingw}-gettext \
                    ${mingw}-json-glib \
                    \
                    ${mingw}-appstream-glib \
                    ${mingw}-desktop-file-utils
      - name: setup git eol
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
      - name: configure
        run: meson setup build
      - name: build
        run: meson compile -C build
      - name: dist
        run: meson dist -C build
